# Academy Award for Best Actor

---

## Setup

In [1]:
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from io import StringIO
import re

---

## Request and parse HTML

In [2]:
url = 'https://en.wikipedia.org/wiki/Academy_Award_for_Best_Actor'

r = get(url)
print(r.status_code)

200

In [3]:
soup = BeautifulSoup(r.content, 'html.parser')

table = soup.find_all('table', class_='wikitable sortable')

---

## HTML to Dataframe

In [4]:
df = pd.read_html(StringIO(str(table)))
print(f'Tables: {len(df)}')
print(f'Tables type: {type(df[0])}')
df[0].head()

Tables: 11
Tables type: <class 'pandas.core.frame.DataFrame'>

,Year,Actor,Role(s),Film,Ref.
0,1927/28 (1st),Emil Jannings ‡[A],Grand Duke Sergius Alexander,The Last Command,[7]
1,1927/28 (1st),Emil Jannings ‡[A],August Schilling,The Way of All Flesh,[7]
2,1927/28 (1st),Richard Barthelmess,Nickie Elkins,The Noose,[7]
3,1927/28 (1st),Richard Barthelmess,Patent Leather Kid,The Patent Leather Kid,[7]
4,1927/28 (1st),Charlie Chaplin[B],The Tramp,The Circus,[8]

In [5]:
# Drop 'Ref.' column
for i in range(len(df)):
    df[i] = df[i].drop(columns='Ref.')

df[0].columns

Index(['Year', 'Actor', 'Role(s)', 'Film'], dtype='object')

In [6]:
winners = []

for table in df:
    mask1 = table['Actor'].str.contains('‡|§', regex=True)
    mask2 = table['Actor'].str.contains('†') & (table.index.isin([0,5,10,15,20,25,30,35,40,45]))
    table.loc[mask1 | (mask2)]
    winners.append(table.loc[(mask1) | (mask2)])

df = pd.concat(winners, ignore_index=True)
df.head()

,Year,Actor,Role(s),Film
0,1927/28 (1st),Emil Jannings ‡[A],Grand Duke Sergius Alexander,The Last Command
1,1927/28 (1st),Emil Jannings ‡[A],August Schilling,The Way of All Flesh
2,1928/29 (2nd) [note 1],Warner Baxter ‡,The Cisco Kid,In Old Arizona
3,1929/30 (3rd),George Arliss ‡[C],Benjamin Disraeli,Disraeli
4,1930/31 (4th),Lionel Barrymore ‡,Stephen Ashe,A Free Soul

### Cleaning

In [7]:
for col in df:
    df[col] = df[col].str.replace(r'([\[\(].*[\]\)])', '', regex=True)\
    .str.replace(r'‡|§|†', '', regex=True).str.strip() # Removes text in square brackets and parenthesis, legend from website and leading/trailing white spaces
    
df.head()

,Year,Actor,Role(s),Film
0,1927/28,Emil Jannings,Grand Duke Sergius Alexander,The Last Command
1,1927/28,Emil Jannings,August Schilling,The Way of All Flesh
2,1928/29,Warner Baxter,The Cisco Kid,In Old Arizona
3,1929/30,George Arliss,Benjamin Disraeli,Disraeli
4,1930/31,Lionel Barrymore,Stephen Ashe,A Free Soul

In [8]:
actors = df['Actor'].unique()

df['ActorID'] = 0

for idx, actor in enumerate(actors):
    df.loc[df['Actor'] == actor, 'ActorID'] = idx

df

,Year,Actor,Role(s),Film,ActorID
0,1927/28,Emil Jannings,Grand Duke Sergius Alexander,The Last Command,0
1,1927/28,Emil Jannings,August Schilling,The Way of All Flesh,0
2,1928/29,Warner Baxter,The Cisco Kid,In Old Arizona,1
3,1929/30,George Arliss,Benjamin Disraeli,Disraeli,2
4,1930/31,Lionel Barrymore,Stephen Ashe,A Free Soul,3
...,...,...,...,...,...
93,2019,Joaquin Phoenix,Arthur Fleck / Joker,Joker,82
94,2020/21,Anthony Hopkins,Anthony,The Father,59
95,2021,Will Smith,Richard Williams,King Richard,83
96,2022,Brendan Fraser,Charlie,The Whale,84
97,2023,Cillian Murphy,J. Robert Oppenheimer,Oppenheimer,85

In [9]:
df = df.reindex(columns=['Year', 'ActorID', 'Actor', 'Role(s)', 'Film'])
df.head()

,Year,ActorID,Actor,Role(s),Film
0,1927/28,0,Emil Jannings,Grand Duke Sergius Alexander,The Last Command
1,1927/28,0,Emil Jannings,August Schilling,The Way of All Flesh
2,1928/29,1,Warner Baxter,The Cisco Kid,In Old Arizona
3,1929/30,2,George Arliss,Benjamin Disraeli,Disraeli
4,1930/31,3,Lionel Barrymore,Stephen Ashe,A Free Soul

In [10]:
df.loc[0, 'Role(s)']

'Grand Duke Sergius Alexander'

In [11]:
df.loc[0, 'Role(s)'] = df.loc[0, 'Role(s)'] + ', ' + df.loc[1, 'Role(s)']
df.loc[0, 'Film'] = df.loc[0, 'Film'] + ', ' + df.loc[1, 'Film']
df.head(2)

,Year,ActorID,Actor,Role(s),Film
0,1927/28,0,Emil Jannings,"Grand Duke Sergius Alexander, August Schilling","The Last Command, The Way of All Flesh"
1,1927/28,0,Emil Jannings,August Schilling,The Way of All Flesh

In [12]:
df.drop(index=1, inplace=True)
df.head(2)

,Year,ActorID,Actor,Role(s),Film
0,1927/28,0,Emil Jannings,"Grand Duke Sergius Alexander, August Schilling","The Last Command, The Way of All Flesh"
2,1928/29,1,Warner Baxter,The Cisco Kid,In Old Arizona

In [13]:
df.reset_index(drop=True, inplace=True)
df.head()

,Year,ActorID,Actor,Role(s),Film
0,1927/28,0,Emil Jannings,"Grand Duke Sergius Alexander, August Schilling","The Last Command, The Way of All Flesh"
1,1928/29,1,Warner Baxter,The Cisco Kid,In Old Arizona
2,1929/30,2,George Arliss,Benjamin Disraeli,Disraeli
3,1930/31,3,Lionel Barrymore,Stephen Ashe,A Free Soul
4,1931/32,4,Wallace Beery,"Andy ""Champ"" Purcell",The Champ

---

## Extracting links

In [14]:
tables = soup.find_all('table', class_='wikitable sortable')

In [15]:
# Gets href from the first <a> whose text is the actor's name
def get_link(actor):
    for table in tables:
        a = table.find('a', string=actor)
        if a is not None:
            return a['href']

In [16]:
df['Link'] = df['Actor'].apply(get_link)
df['Link']

0        /wiki/Emil_Jannings
1        /wiki/Warner_Baxter
2        /wiki/George_Arliss
3     /wiki/Lionel_Barrymore
4        /wiki/Wallace_Beery
               ...
92     /wiki/Joaquin_Phoenix
93     /wiki/Anthony_Hopkins
94          /wiki/Will_Smith
95      /wiki/Brendan_Fraser
96      /wiki/Cillian_Murphy
Name: Link, Length: 97, dtype: object

In [17]:
len(df['Link'].unique()) == len(df['Actor'].unique())

True

In [18]:
df.head()

,Year,ActorID,Actor,Role(s),Film,Link
0,1927/28,0,Emil Jannings,"Grand Duke Sergius Alexander, August Schilling","The Last Command, The Way of All Flesh",/wiki/Emil_Jannings
1,1928/29,1,Warner Baxter,The Cisco Kid,In Old Arizona,/wiki/Warner_Baxter
2,1929/30,2,George Arliss,Benjamin Disraeli,Disraeli,/wiki/George_Arliss
3,1930/31,3,Lionel Barrymore,Stephen Ashe,A Free Soul,/wiki/Lionel_Barrymore
4,1931/32,4,Wallace Beery,"Andy ""Champ"" Purcell",The Champ,/wiki/Wallace_Beery

---

## Retrieving and treating relevant data

In [19]:
url = 'https://en.wikipedia.org/'

actor_list = []
actor_id_list = []
bday_list = []
death_list = []
birthplace_list = []
deathplace_list = []
spouses_list = []
wedding_date_list = []
divorce_date_list = []
n_children_list = []

pat = re.compile(r'(\d{4})') # Matches groups of 4 digits

for link in df['Link'].unique():
    r = get(url + link)
    soup = BeautifulSoup(r.content, 'html.parser')
    
    actor_id = df.loc[df['Link'] == link, 'ActorID'].values[0]
    actor = df.loc[df['ActorID'] == actor_id, 'Actor'].values[0]
    actor_list.append(actor)

    # BIRTHDAY ---------------------
    bday = soup.find('span', class_='bday').string
    bday_list.append(bday)
    
    print(f'Actor: {actor}.\nBirthday: {bday}')

    # DEATH ------------------------
    death_tag = soup.find('th', string='Died')
    if death_tag == None:
        death = None

    else:
        death = death_tag.findNext('span', style='display:none').text

    death_list.append(death)
    print(f'Died: {death}')

    # BIRTHPLACE -------------------
    birthplace_tag = soup.find('div', class_='birthplace')
    if birthplace_tag == None:
        birthplace = None

    else:
        birthplace = birthplace_tag.text

    print(f'Birthplace: {birthplace}')
    birthplace_list.append(birthplace)

    # DEATHPLACE -------------------
    deathplace_tag = soup.find('div', class_='deathplace')
    if deathplace_tag == None:
        deathplace = None
    else:
        deathplace = deathplace_tag.text

    print(f'Deathplace: {deathplace}')
    deathplace_list.append(deathplace)

    # SPOUSES ----------------------
    spouses = soup.find_all('div', class_='marriage-display-ws')

    for spouse in spouses:
        actor_id_list.append(actor_id)
        print(f"Spouse: {spouse.text.split('(')[0].replace('\n', '').strip()}")
        spouse_name = spouse.text.split('(')[0].replace('\n', '').strip()
        spouses_list.append(spouse_name)
        dates = spouse.text
        dates = re.findall(pat, dates)
        
        if len(dates) == 1:
            print(f'Married in {dates[0]}')
            wedding_date_list.append(dates[0])
            divorce_date_list.append(None)
        else:
            print(f'Married in {dates[0]}, divorced in {dates[1]}.')
            wedding_date_list.append(dates[0])
            divorce_date_list.append(dates[1])


    # CHILDREN ---------------------
    children_tag = soup.find('th', string='Children')
    if children_tag == None:
        n_children = 0

    else:
        n_children = children_tag.findNext('td').text
        
    n_children_list.append(n_children)
    print(f'Number of children: {n_children}')
    
    print('------------------------------------------------')

Actor: Emil Jannings.
Birthday: 1884-07-23
Died: (1950-01-02)
Birthplace: Rorschach, Switzerland
Deathplace: Strobl, Allied-occupied Austria
Spouse: Hanna Ralph​ ​
Married in 1919, divorced in 1921.
Spouse: Lucie Höflich​ ​
Married in 1921, divorced in 1921.
Spouse: Gussy Holl ​
Married in 1923
Number of children: 1
------------------------------------------------
Actor: Warner Baxter.
Birthday: 1889-03-29
Died: (1951-05-07)
Birthplace: Columbus, Ohio, U.S.
Deathplace: Beverly Hills, California, U.S.
Spouse: Viola Caldwell​ ​
Married in 1911, divorced in 1913.
Spouse: Winifred Bryson ​
Married in 1918
Number of children: 0
------------------------------------------------
Actor: George Arliss.
Birthday: 1868-04-10
Died: (1946-02-05)
Birthplace: London, England
Deathplace: London, England
Spouse: Florence Montgomery ​
Married in 1899
Number of children: 0
------------------------------------------------
Actor: Lionel Barrymore.
Birthday: 1878-04-28
Died: (1954-11-15)
Birthplace: Philadelphia, Pennsylvania, U.S.
Deathplace: Los Angeles, California, U.S.
Spouse: Doris Rankin​ ​
Married in 1904, divorced in 1922.
Spouse: Irene Fenwick​ ​
Married in 1923, divorced in 1936.
Number of children: 2
------------------------------------------------
Actor: Wallace Beery.
Birthday: 1885-04-01
Died: (1949-04-15)
Birthplace: Clay County, Missouri, U.S.
Deathplace: Beverly Hills, California, U.S.
Spouse: Gloria Swanson​ ​
Married in 1916, divorced in 1918.
Spouse: Rita Gilman​ ​
Married in 1924, divorced in 1939.
Number of children: 1
------------------------------------------------
Actor: Fredric March.
Birthday: 1897-08-31
Died: (1975-04-14)
Birthplace: Racine, Wisconsin, U.S.
Deathplace: Los Angeles, California, U.S.
Spouse: Ellis Baker​ ​
Married in 1921, divorced in 1927.
Spouse: Florence Eldridge​ ​
Married in 1927
Number of children: 2
------------------------------------------------
Actor: Charles Laughton.
Birthday: 1899-07-01
Died: (1962-12-15)
Birthplace: Scarborough, North Riding of Yorkshire, England
Deathplace: Hollywood, California, U.S.
Spouse: Elsa Lanchester ​
Married in 1929
Number of children: 0
------------------------------------------------
Actor: Clark Gable.
Birthday: 1901-02-01
Died: (1960-11-16)
Birthplace: Cadiz, Ohio, U.S.
Deathplace: Los Angeles, California, U.S.
Spouse: Josephine Dillon​ ​
Married in 1924, divorced in 1930.
Spouse: Maria Langham​ ​
Married in 1931, divorced in 1939.
Spouse: Carole Lombard​ ​
Married in 1939, divorced in 1942.
Spouse: Sylvia Ashley​ ​
Married in 1949, divorced in 1952.
Spouse: Kay Williams ​
Married in 1955
Number of children: 2, including Judy Lewis
------------------------------------------------
Actor: Victor McLaglen.
Birthday: 1886-12-10
Died: (1959-11-07)
Birthplace: Tunbridge Wells, Kent or Stepney, East London, U.K.
Deathplace: Newport Beach, California, U.S.
Spouse: Enid Lamont​ ​
Married in 1919, divorced in 1942.
Spouse: Suzanne M. Brueggeman​ ​
Married in 1943, divorced in 1948.
Spouse: Margaret Pumphrey​ ​
Married in 1948
Number of children: 3
------------------------------------------------
Actor: Paul Muni.
Birthday: 1895-09-22
Died: (1967-08-25)
Birthplace: Lemberg, Austro-Hungarian Empire(now Lviv, Ukraine)
Deathplace: Montecito, California, U.S.
Spouse: Bella Finkel ​
Married in 1921
Number of children: 0
------------------------------------------------
Actor: Spencer Tracy.
Birthday: 1900-04-05
Died: (1967-06-10)
Birthplace: Milwaukee, Wisconsin, U.S.
Deathplace: Beverly Hills, California, U.S.
Spouse: Louise Treadwell​ ​
Married in 1923, divorced in 1933.
Number of children: 2
------------------------------------------------
Actor: Robert Donat.
Birthday: 1905-03-18
Died: (1958-06-09)
Birthplace: Withington, Manchester, England
Deathplace: London, England
Spouse: Ella Annesley​ ​
Married in 1929, divorced in 1946.
Spouse: Renée Asherson​ ​
Married in 1953
Number of children: 3
------------------------------------------------
Actor: James Stewart.
Birthday: 1908-05-20
Died: (1997-07-02)
Birthplace: Indiana, Pennsylvania, U.S.
Deathplace: Beverly Hills, California, U.S.
Spouse: Gloria Hatrick McLean​ ​
Married in 1949, divorced in 1994.
Number of children: 4
------------------------------------------------
Actor: Gary Cooper.
Birthday: 1901-05-07
Died: (1961-05-13)
Birthplace: Helena, Montana, U.S.
Deathplace: Los Angeles, California, U.S.
Spouse: Veronica Balfe ​
Married in 1933
Number of children: 1
------------------------------------------------
Actor: James Cagney.
Birthday: 1899-07-17
Died: (1986-03-30)
Birthplace: New York City, U.S.
Deathplace: Stanford, New York, U.S.
Spouse: Frances Willard Vernon​ ​
Married in 1922
Number of children: 2
------------------------------------------------
Actor: Paul Lukas.
Birthday: 1894-05-26
Died: (1971-08-15)
Birthplace: Budapest, Austria-Hungary
Deathplace: Tangier, Morocco
Spouse: Gizella "Daisy" Benes​ ​
Married in 1927, divorced in 1962.
Spouse: Annette M. Driesens​ ​
Married in 1963
Number of children: 0
------------------------------------------------
Actor: Bing Crosby.
Birthday: 1903-05-03
Died: (1977-10-14)
Birthplace: Tacoma, Washington, U.S.
Deathplace: Alcobendas, Spain
Spouse: Dixie Lee​ ​
Married in 1930, divorced in 1952.
Spouse: Kathryn Grant ​
Married in 1957
Number of children: GaryDennisPhillipLindsay (with Dixie)Harry IIIMaryNathaniel (with Kathryn)
------------------------------------------------
Actor: Ray Milland.
Birthday: 1907-01-03
Died: (1986-03-10)
Birthplace: Neath, Glamorgan, Wales
Deathplace: Torrance, California, U.S.
Spouse: Muriel Weber ​
Married in 1932
Number of children: 2
------------------------------------------------
Actor: Ronald Colman.
Birthday: 1891-02-09
Died: (1958-05-19)
Birthplace: Richmond, Surrey, England, UK
Deathplace: Santa Barbara, California, US
Spouse: Thelma Raye​ ​
Married in 1920, divorced in 1934.
Spouse: Benita Hume ​
Married in 1938
Number of children: 1
------------------------------------------------
Actor: Laurence Olivier.
Birthday: 1907-05-22
Died: (1989-07-11)
Birthplace: Dorking, Surrey, England
Deathplace: Steyning, West Sussex, England
Spouse: Jill Esmond​ ​
Married in 1930, divorced in 1940.
Spouse: Vivien Leigh​ ​
Married in 1940, divorced in 1960.
Spouse: Joan Plowright ​
Married in 1961
Number of children: 4
------------------------------------------------
Actor: Broderick Crawford.
Birthday: 1911-12-09
Died: (1986-04-26)
Birthplace: Philadelphia, Pennsylvania, U.S.
Deathplace: Rancho Mirage, California, U.S.
Spouse: Kay Griffith​ ​
Married in 1940, divorced in 1957.
Spouse: Joan Tabor​ ​
Married in 1962, divorced in 1967.
Spouse: Mary Alice Moore​ ​
Married in 1973
Number of children: 2
------------------------------------------------
Actor: José Ferrer.
Birthday: 1912-01-08
Died: (1992-01-26)
Birthplace: San Juan, Puerto Rico
Deathplace: Coral Gables, Florida, U.S.
Spouse: Uta Hagen​ ​
Married in 1938, divorced in 1948.
Spouse: Phyllis Hill​ ​
Married in 1948, divorced in 1953.
Spouse: Rosemary Clooney​ ​
Married in 1953, divorced in 1961.
Spouse: ​
Married in 1964, divorced in 1967.
Spouse: Stella Magee ​
Married in 1977
Number of children: 6, including Miguel Ferrer
------------------------------------------------
Actor: Humphrey Bogart.
Birthday: 1899-12-25
Died: (1957-01-14)
Birthplace: New York City, U.S.
Deathplace: Los Angeles, California, U.S.
Spouse: Helen Menken​ ​
Married in 1926, divorced in 1927.
Spouse: Mary Philips​ ​
Married in 1928, divorced in 1937.
Spouse: Mayo Methot​ ​
Married in 1938, divorced in 1945.
Spouse: Lauren Bacall ​
Married in 1945
Number of children: 2, including Stephen Humphrey
------------------------------------------------
Actor: William Holden.
Birthday: 1918-04-17
Died: (1981-11-12)
Birthplace: O'Fallon, Illinois, U.S.
Deathplace: Santa Monica, California, U.S.
Spouse: Brenda Marshall​ ​
Married in 1941, divorced in 1971.
Number of children: 4
------------------------------------------------
Actor: Marlon Brando.
Birthday: 1924-04-03
Died: (2004-07-01)
Birthplace: Omaha, Nebraska, U.S.
Deathplace: Los Angeles, California
Spouse: Anna Kashfi​ ​
Married in 1957, divorced in 1959.
Spouse: Movita Castaneda​ ​
Married in 1960, divorced in 1968.
Spouse: Tarita Teriipaia​ ​
Married in 1962, divorced in 1972.
Number of children: 11, including Christian and Cheyenne
------------------------------------------------
Actor: Ernest Borgnine.
Birthday: 1917-01-24
Died: (2012-07-08)
Birthplace: Hamden, Connecticut, U.S.
Deathplace: Los Angeles, California, U.S.
Spouse: Rhoda Kemins​ ​
Married in 1949, divorced in 1958.
Spouse: Katy Jurado​ ​
Married in 1959, divorced in 1963.
Spouse: Ethel Merman​ ​
Married in 1964, divorced in 1964.
Spouse: Donna Rancourt​ ​
Married in 1965, divorced in 1972.
Spouse: Tova Traesnaes ​
Married in 1973
Number of children: 4
------------------------------------------------
Actor: Yul Brynner.
Birthday: 1920-07-11
Died: (1985-10-10)
Birthplace: Vladivostok, Far Eastern Republic
Deathplace: New York City, U.S.
Spouse: Virginia Gilmore​ ​
Married in 1944, divorced in 1960.
Spouse: Doris Kleiner​ ​
Married in 1960, divorced in 1967.
Spouse: Jacqueline Thion de la Chaume​ ​
Married in 1971, divorced in 1981.
Spouse: Kathy Lee ​
Married in 1983
Number of children: 5
------------------------------------------------
Actor: Alec Guinness.
Birthday: 1914-04-02
Died: (2000-08-05)
Birthplace: Maida Vale, London, England
Deathplace: Midhurst, West Sussex, England
Spouse: Merula Salaman ​
Married in 1938
Number of children: Matthew Guinness
------------------------------------------------
Actor: David Niven.
Birthday: 1910-03-01
Died: (1983-07-29)
Birthplace: Victoria, London, England
Deathplace: Château-d'Œx, Switzerland
Spouse: Primula Susan Rollo​ ​
Married in 1940, divorced in 1946.
Spouse: Hjördis Genberg ​
Married in 1948
Number of children: 4, including David Jr.
------------------------------------------------
Actor: Charlton Heston.
Birthday: 1923-10-04
Died: (2008-04-05)
Birthplace: Wilmette, Illinois, U.S.
Deathplace: Beverly Hills, California, U.S.
Spouse: Lydia Clarke ​
Married in 1944
Number of children: 2, including Fraser Clarke Heston
------------------------------------------------
Actor: Burt Lancaster.
Birthday: 1913-11-02
Died: (1994-10-20)
Birthplace: New York City, U.S.
Deathplace: Los Angeles, U.S.
Spouse: June Ernst​ ​
Married in 1935, divorced in 1946.
Spouse: Norma Anderson​ ​
Married in 1946, divorced in 1969.
Spouse: Susan Martin​ ​
Married in 1990
Number of children: 5; including Bill
------------------------------------------------
Actor: Maximilian Schell.
Birthday: 1930-12-08
Died: (2014-02-01)
Birthplace: Vienna, Austria
Deathplace: Innsbruck, Austria
Spouse: Natalya Andrejchenko​ ​
Married in 1985, divorced in 2005.
Spouse: Iva Mihanovic ​
Married in 2013
Number of children: 1
------------------------------------------------
Actor: Gregory Peck.
Birthday: 1916-04-05
Died: (2003-06-12)
Birthplace: San Diego, California, U.S.
Deathplace: Los Angeles, California, U.S.
Spouse: Greta Kukkonen​ ​
Married in 1942, divorced in 1955.
Spouse: Veronique Passani ​
Married in 1955
Number of children: 5, including Cecilia Peck
------------------------------------------------
Actor: Sidney Poitier.
Birthday: 1927-02-20
Died: (2022-01-06)
Birthplace: Miami, Florida, U.S.
Deathplace: Beverly Hills, California, U.S.
Spouse: Juanita Hardy​ ​
Married in 1950, divorced in 1965.
Spouse: Joanna Shimkus ​
Married in 1976
Number of children: 6, including Sydney Tamiia
------------------------------------------------
Actor: Rex Harrison.
Birthday: 1908-03-05
Died: (1990-06-02)
Birthplace: Huyton, Lancashire, England
Deathplace: New York City, U.S.
Spouse: Noel Margery Colette-Thomas​ ​
Married in 1934, divorced in 1942.
Spouse: Lilli Palmer​ ​
Married in 1943, divorced in 1957.
Spouse: Kay Kendall​ ​
Married in 1957, divorced in 1959.
Spouse: Rachel Roberts​ ​
Married in 1962, divorced in 1971.
Spouse: Elizabeth Rees-Williams​ ​
Married in 1971, divorced in 1975.
Spouse: Mercia Tinker ​
Married in 1979
Number of children:
Noel
Carey

------------------------------------------------
Actor: Lee Marvin.
Birthday: 1924-02-19
Died: (1987-08-29)
Birthplace: New York City, U.S.
Deathplace: Tucson, Arizona, U.S.
Spouse: Betty Ebeling​ ​
Married in 1952, divorced in 1967.
Spouse: Pamela Feeley ​
Married in 1970
Number of children: 4
------------------------------------------------
Actor: Paul Scofield.
Birthday: 1922-01-21
Died: (2008-03-19)
Birthplace: Birmingham, Warwickshire, England
Deathplace: Brighton, East Sussex, England
Spouse: Joy Parker ​
Married in 1943
Number of children: 2
------------------------------------------------
Actor: Rod Steiger.
Birthday: 1925-04-14
Died: (2002-07-09)
Birthplace: Westhampton, New York, U.S.
Deathplace: Los Angeles, California, U.S.
Number of children: 0
------------------------------------------------
Actor: Cliff Robertson.
Birthday: 1923-09-09
Died: (2011-09-10)
Birthplace: San Diego, California, U.S.
Deathplace: Stony Brook, New York, U.S.
Spouse: Cynthia Stone ​ ​
Married in 1957, divorced in 1959.
Spouse: Dina Merrill ​ ​
Married in 1966, divorced in 1989.
Number of children: 2
------------------------------------------------
Actor: John Wayne.
Birthday: 1907-05-26
Died: (1979-06-11)
Birthplace: Winterset, Iowa, U.S.
Deathplace: Los Angeles, California, U.S.
Spouse: Josephine Saenz​ ​
Married in 1933, divorced in 1945.
Spouse: Esperanza Baur​ ​
Married in 1946, divorced in 1954.
Spouse: Pilar Pallete ​
Married in 1954
Number of children: 7, including Michael, Patrick, and Ethan
------------------------------------------------
Actor: George C. Scott.
Birthday: 1927-10-18
Died: (1999-09-22)
Birthplace: Wise, Virginia, U.S.
Deathplace: Westlake Village, California, U.S.
Spouse: Carolyn Hughes​ ​
Married in 1951, divorced in 1955.
Spouse: Patricia Reed​ ​
Married in 1955, divorced in 1960.
Spouse: Colleen Dewhurst​ ​
Married in 1960, divorced in 1965.
Spouse: ​
Married in 1967, divorced in 1972.
Spouse: Trish Van Devere​ ​
Married in 1972
Number of children: 7, including Devon and Campbell Scott
------------------------------------------------
Actor: Gene Hackman.
Birthday: 1930-01-30
Died: None
Birthplace: San Bernardino, California, U.S.
Deathplace: None
Spouse: Faye Maltese​ ​
Married in 1956, divorced in 1986.
Spouse: Betsy Arakawa ​
Married in 1991
Number of children: 3
------------------------------------------------
Actor: Jack Lemmon.
Birthday: 1925-02-08
Died: (2001-06-27)
Birthplace: Newton, Massachusetts, U.S.
Deathplace: Los Angeles, California, U.S.
Spouse: Cynthia Stone​ ​
Married in 1950, divorced in 1956.
Spouse: Felicia Farr ​
Married in 1962
Number of children: 2, including Chris Lemmon
------------------------------------------------
Actor: Art Carney.
Birthday: 1918-11-04
Died: (2003-11-09)
Birthplace: Mount Vernon, New York, U.S.
Deathplace: Chester, Connecticut, U.S.
Spouse: Jean Myers​ ​
Married in 1940, divorced in 1965.
Spouse: ​
Married in 1980
Spouse: Barbara Isaac​ ​
Married in 1966, divorced in 1977.
Number of children: 3
------------------------------------------------
Actor: Jack Nicholson.
Birthday: 1937-04-22
Died: None
Birthplace: Neptune City, New Jersey, U.S.
Deathplace: None
Spouse: Sandra Knight​ ​
Married in 1962, divorced in 1968.
Number of children: 6, including Lorraine and Ray
------------------------------------------------
Actor: Peter Finch.
Birthday: 1916-09-28
Died: (1977-01-14)
Birthplace: South Kensington, London, England
Deathplace: Beverly Hills, California, U.S.
Spouse: Tamara Tchinarova​ ​
Married in 1943, divorced in 1959.
Spouse: Yolande Turner​ ​
Married in 1959, divorced in 1965.
Spouse: Eletha Barrett​ ​
Married in 1973
Number of children: 4; including Charles Finch
------------------------------------------------
Actor: Richard Dreyfuss.
Birthday: 1947-10-29
Died: None
Birthplace: New York City, U.S.
Deathplace: None
Spouse: Jeramie Rain​ ​
Married in 1983, divorced in 1995.
Spouse: Janelle Lacey​ ​
Married in 1999, divorced in 2005.
Spouse: Svetlana Erokhin ​
Married in 2006
Number of children: 3, including Emily and Ben
------------------------------------------------
Actor: Jon Voight.
Birthday: 1938-12-29
Died: None
Birthplace: Yonkers, New York, U.S.
Deathplace: None
Spouse: Lauri Peters​ ​
Married in 1962, divorced in 1967.
Spouse: Marcheline Bertrand​ ​
Married in 1971, divorced in 1980.
Number of children: James HavenAngelina Jolie
------------------------------------------------
Actor: Dustin Hoffman.
Birthday: 1937-08-08
Died: None
Birthplace: Los Angeles, California, U.S.
Deathplace: None
Spouse: Anne Byrne​ ​
Married in 1969, divorced in 1980.
Spouse: Lisa Gottsegen ​
Married in 1980
Number of children: 6, including Jake
------------------------------------------------
Actor: Robert De Niro.
Birthday: 1943-08-17
Died: None
Birthplace: New York City, U.S.
Deathplace: None
Spouse: Diahnne Abbott​ ​
Married in 1976, divorced in 1988.
Spouse: Grace Hightower​ ​
Married in 1997, divorced in 2018.
Number of children: 7, including Drena and Raphael
------------------------------------------------
Actor: Henry Fonda.
Birthday: 1905-05-16
Died: (1982-08-12)
Birthplace: Grand Island, Nebraska, U.S.
Deathplace: Los Angeles, California, U.S.
Spouse: Margaret Sullavan​ ​
Married in 1931, divorced in 1933.
Spouse: Frances Ford Seymour​ ​
Married in 1936, divorced in 1950.
Spouse: Susan Blanchard​ ​
Married in 1950, divorced in 1956.
Spouse: Afdera Franchetti​ ​
Married in 1957, divorced in 1961.
Spouse: Shirlee Mae Adams ​
Married in 1965
Number of children: 3, including Jane and Peter
------------------------------------------------
Actor: Ben Kingsley.
Birthday: 1943-12-31
Died: None
Birthplace: Snainton, North Riding of Yorkshire, England
Deathplace: None
Spouse: Angela Morant​ ​
Married in 1966, divorced in 1976.
Spouse: Alison Sutcliffe​ ​
Married in 1978, divorced in 1992.
Spouse: Alexandra Christmann​ ​
Married in 2003, divorced in 2005.
Spouse: Daniela Lavender ​
Married in 2007
Number of children: 4, including Ferdinand Kingsley
------------------------------------------------
Actor: Robert Duvall.
Birthday: 1931-01-05
Died: None
Birthplace: San Diego, California, U.S.
Deathplace: None
Spouse: Barbara Benjamin Marcus​ ​
Married in 1964, divorced in 1981.
Spouse: Gail Youngs​ ​
Married in 1982, divorced in 1986.
Spouse: Sharon Brophy​ ​
Married in 1991, divorced in 1995.
Spouse: Luciana Pedraza ​
Married in 2005
Number of children: 0
------------------------------------------------
Actor: F. Murray Abraham.
Birthday: 1939-10-24
Died: None
Birthplace: Pittsburgh, Pennsylvania, U.S.
Deathplace: None
Spouse: Kate Hannan​ ​
Married in 1962, divorced in 2022.
Number of children: 2
------------------------------------------------
Actor: William Hurt.
Birthday: 1950-03-20
Died: (2022-03-13)
Birthplace: Washington, D.C., U.S.
Deathplace: Portland, Oregon, U.S.
Spouse: Mary Beth Supinger​ ​
Married in 1971, divorced in 1982.
Spouse: Heidi Henderson​ ​
Married in 1989, divorced in 1993.
Number of children: 4
------------------------------------------------
Actor: Paul Newman.
Birthday: 1925-01-26
Died: (2008-09-26)
Birthplace: Shaker Heights, Ohio, U.S.
Deathplace: Westport, Connecticut, U.S.
Spouse: Jackie Witte​ ​
Married in 1949, divorced in 1958.
Spouse: Joanne Woodward ​
Married in 1958
Number of children: 6, including Scott, Nell, and Melissa
------------------------------------------------
Actor: Michael Douglas.
Birthday: 1944-09-25
Died: None
Birthplace: New Brunswick, New Jersey, U.S.
Deathplace: None
Spouse: Diandra Luker​ ​
Married in 1977, divorced in 2000.
Spouse: Catherine Zeta-Jones​ ​
Married in 2000
Number of children: 3, including Cameron Douglas
------------------------------------------------
Actor: Daniel Day-Lewis.
Birthday: 1957-04-29
Died: None
Birthplace: London, England
Deathplace: None
Spouse: Rebecca Miller ​
Married in 1996
Number of children: 3

In [20]:
for actor, bday, death, n_children, birthplace, deathplace in zip(actor_list, bday_list, death_list, n_children_list, birthplace_list, deathplace_list):
    df.loc[df['Actor'] == actor, 'Born'] = bday
    df.loc[df['Actor'] == actor, 'Died'] = death
    df.loc[df['Actor'] == actor, 'Birthplace'] = birthplace
    df.loc[df['Actor'] == actor, 'Deathplace'] = deathplace
    df.loc[df['Actor'] == actor, 'Children'] = n_children

df['Died'] = df['Died'].str.replace(r'[\(\)]', '', regex=True)

In [21]:
df

,Year,ActorID,Actor,Role(s),Film,Link,Born,Died,Birthplace,Deathplace,Children
0,1927/28,0,Emil Jannings,"Grand Duke Sergius Alexander, August Schilling","The Last Command, The Way of All Flesh",/wiki/Emil_Jannings,1884-07-23,1950-01-02,"Rorschach, Switzerland","Strobl, Allied-occupied Austria",1
1,1928/29,1,Warner Baxter,The Cisco Kid,In Old Arizona,/wiki/Warner_Baxter,1889-03-29,1951-05-07,"Columbus, Ohio, U.S.","Beverly Hills, California, U.S.",0
2,1929/30,2,George Arliss,Benjamin Disraeli,Disraeli,/wiki/George_Arliss,1868-04-10,1946-02-05,"London, England","London, England",0
3,1930/31,3,Lionel Barrymore,Stephen Ashe,A Free Soul,/wiki/Lionel_Barrymore,1878-04-28,1954-11-15,"Philadelphia, Pennsylvania, U.S.","Los Angeles, California, U.S.",2
4,1931/32,4,Wallace Beery,"Andy ""Champ"" Purcell",The Champ,/wiki/Wallace_Beery,1885-04-01,1949-04-15,"Clay County, Missouri, U.S.","Beverly Hills, California, U.S.",1
...,...,...,...,...,...,...,...,...,...,...,...
92,2019,82,Joaquin Phoenix,Arthur Fleck / Joker,Joker,/wiki/Joaquin_Phoenix,1974-10-28,None,"San Juan, Puerto Rico",None,1
93,2020/21,59,Anthony Hopkins,Anthony,The Father,/wiki/Anthony_Hopkins,1937-12-31,None,"Port Talbot, Glamorgan, Wales",None,1
94,2021,83,Will Smith,Richard Williams,King Richard,/wiki/Will_Smith,1968-09-25,None,"Philadelphia, Pennsylvania, U.S.",None,"3, including Jaden and Willow"
95,2022,84,Brendan Fraser,Charlie,The Whale,/wiki/Brendan_Fraser,1968-12-03,None,"Indianapolis, Indiana, U.S.",None,3
96,2023,85,Cillian Murphy,J. Robert Oppenheimer,Oppenheimer,/wiki/Cillian_Murphy,1976-05-25,None,"Cork, Ireland",None,2

In [22]:
df['Children'].unique()

array(['1', 0, '2', '2, including Judy Lewis', '3', '4',
       'GaryDennisPhillipLindsay (with Dixie)Harry IIIMaryNathaniel (with Kathryn)',
       '6, including Miguel Ferrer', '2, including Stephen Humphrey',
       '11, including Christian and Cheyenne', '5', 'Matthew Guinness',
       '4, including David Jr.', '2, including Fraser Clarke Heston',
       '5; including Bill', '5, including Cecilia Peck',
       '6, including Sydney Tamiia', '\nNoel\nCarey\n',
       '7, including Michael, Patrick, and Ethan',
       '7, including Devon and Campbell Scott',
       '2, including Chris Lemmon', '6, including Lorraine and Ray',
       '4; including Charles Finch', '3, including Emily and Ben',
       'James HavenAngelina Jolie', '6, including Jake',
       '7, including Drena and Raphael', '3, including Jane and Peter',
       '4, including Ferdinand Kingsley',
       '6, including Scott, Nell, and Melissa',
       '3, including Cameron Douglas', '2, including Max Irons',
       '4, including Colin and Chet', '4, including John David',
       'Dylan PennHopper Penn', '2, including Corinne',
       '3, including Cooper', '3, including Jaden and Willow'],
      dtype=object)

In [23]:
children = df.loc[df['Children'].str.len() > 1, ['ActorID','Children']].set_index('ActorID')
children

                                                  Children
ActorID
7                                  2, including Judy Lewis
16       GaryDennisPhillipLindsay (with Dixie)Harry III...
21                              6, including Miguel Ferrer
22                           2, including Stephen Humphrey
24                    11, including Christian and Cheyenne
27                                        Matthew Guinness
28                                  4, including David Jr.
29                       2, including Fraser Clarke Heston
30                                       5; including Bill
32                               5, including Cecilia Peck
33                              6, including Sydney Tamiia
34                                         \nNoel\nCarey\n
39                7, including Michael, Patrick, and Ethan
40                   7, including Devon and Campbell Scott
24                    11, including Christian and Cheyenne
42                               2, including Chris Lemmon
44                           6, including Lorraine and Ray
45                              4; including Charles Finch
46                              3, including Emily and Ben
47                               James HavenAngelina Jolie
48                                       6, including Jake
49                          7, including Drena and Raphael
50                             3, including Jane and Peter
51                         4, including Ferdinand Kingsley
55                   6, including Scott, Nell, and Melissa
56                            3, including Cameron Douglas
48                                       6, including Jake
58                                  2, including Max Irons
61                             4, including Colin and Chet
61                             4, including Colin and Chet
44                           6, including Lorraine and Ray
67                                 4, including John David
69                                   Dylan PennHopper Penn
70                                    2, including Corinne
71                                     3, including Cooper
69                                   Dylan PennHopper Penn
83                           3, including Jaden and Willow

In [24]:
def extract_number(text):
  match = re.search(r'\d+', text)
  return match.group() if match else text

In [25]:
children = children['Children'].apply(extract_number)

In [26]:
children.unique()

array(['2',
       'GaryDennisPhillipLindsay (with Dixie)Harry IIIMaryNathaniel (with Kathryn)',
       '6', '11', 'Matthew Guinness', '4', '5', '\nNoel\nCarey\n', '7',
       '3', 'James HavenAngelina Jolie', 'Dylan PennHopper Penn'],
      dtype=object)

In [27]:
children

ActorID
7                                                     2
16    GaryDennisPhillipLindsay (with Dixie)Harry III...
21                                                    6
22                                                    2
24                                                   11
27                                     Matthew Guinness
28                                                    4
29                                                    2
30                                                    5
32                                                    5
33                                                    6
34                                      \nNoel\nCarey\n
39                                                    7
40                                                    7
24                                                   11
42                                                    2
44                                                    6
45                                                    4
46                                                    3
47                            James HavenAngelina Jolie
48                                                    6
49                                                    7
50                                                    3
51                                                    4
55                                                    6
56                                                    3
48                                                    6
58                                                    2
61                                                    4
61                                                    4
44                                                    6
67                                                    4
69                                Dylan PennHopper Penn
70                                                    2
71                                                    3
69                                Dylan PennHopper Penn
83                                                    3
Name: Children, dtype: object

In [28]:
children[16] = '7'
children[27] = '1'
children[34] = '2'
children[47] = '2'
children[69] = '2'

In [29]:
children

ActorID
7      2
16     7
21     6
22     2
24    11
27     1
28     4
29     2
30     5
32     5
33     6
34     2
39     7
40     7
24    11
42     2
44     6
45     4
46     3
47     2
48     6
49     7
50     3
51     4
55     6
56     3
48     6
58     2
61     4
61     4
44     6
67     4
69     2
70     2
71     3
69     2
83     3
Name: Children, dtype: object

In [30]:
for actor_id, child_count in children.items():
    df.loc[df['ActorID'] == actor_id, 'Children'] = child_count

df['Children'].unique()

array(['1', 0, '2', '3', '4', '7', '6', '11', '5'], dtype=object)

---

## Marriages

In [31]:
data = np.stack([actor_id_list, spouses_list, wedding_date_list,divorce_date_list]).T

marriages = pd.DataFrame(data, columns=['ActorID', 'Spouse', 'From', 'To'])
marriages.head()

  ActorID             Spouse  From    To
0       0     Hanna Ralph​ ​  1919  1921
1       0   Lucie Höflich​ ​  1921  1921
2       0       Gussy Holl ​  1923  None
3       1  Viola Caldwell​ ​  1911  1913
4       1  Winifred Bryson ​  1918  None

In [32]:
marriages['Spouse'][0]

'Hanna Ralph\u200b \u200b'

In [33]:
len(marriages['Spouse'][0])

14

In [34]:
marriages['Spouse'] = marriages['Spouse'].str.replace('\u200b', '').str.strip()

In [35]:
len(marriages['Spouse'][0])

11

In [36]:
marriages.to_csv('data/marriages.csv')

---

## Awards dates

In [37]:
url = 'https://en.wikipedia.org/wiki/List_of_Academy_Awards_ceremonies'

r = get(url)
soup = BeautifulSoup(r.content, 'html.parser')

tables = soup.find_all('table', class_='wikitable sortable sticky-header')
tables = pd.read_html(StringIO(str(tables)))
awards = tables[0]

In [38]:
awards

,#,Date,Best Picture,Most awarded film(s),Number of viewers P2+,HH Rating,Host(s),Producer(s),Venue,Broadcast partner(s)
0,1st,"May 16, 1929",Wings,7th Heaven Sunrise,—,—,Douglas Fairbanks,—,The Hollywood Roosevelt Hotel,none
1,2nd,"April 3, 1930",The Broadway Melody,The Bridge of San Luis Rey The Broadway Melody...,—,—,William C. deMille,—,Ambassador Hotel,KNX-AM[a][7]
2,3rd,"November 5, 1930",All Quiet on the Western Front,All Quiet on the Western Front The Big House,—,—,Conrad Nagel,—,Ambassador Hotel,KNX-AM[a]
3,4th,"November 10, 1931",Cimarron,Cimarron,—,—,Lawrence Grant,—,Biltmore Hotel,KHJ-AM[b]
4,5th,"November 18, 1932",Grand Hotel,Bad Girl The Champ,—,—,Lionel Barrymore Conrad Nagel,—,Ambassador Hotel,KECA-AM[c]
...,...,...,...,...,...,...,...,...,...,...
92,93rd,"April 25, 2021",Nomadland,Nomadland,10.40 million,5.9,none,Jesse Collins Stacey Sher Steven Soderbergh,Union Station,ABC
93,94th,"March 27, 2022",CODA,Dune,16.62 million,9.0,Regina Hall Amy Schumer Wanda Sykes,Will Packer Shayla Cowan,Dolby Theatre,ABC
94,95th,"March 12, 2023",Everything Everywhere All at Once,Everything Everywhere All at Once,18.70 million,9.9,Jimmy Kimmel,Ricky Kirshner Glenn Weiss,Dolby Theatre,ABC
95,96th,"March 10, 2024",Oppenheimer,Oppenheimer,19.50 million,9.9,Jimmy Kimmel,Raj Kapoor Katy Mullan,Dolby Theatre,ABC
96,97th,"March 2, 2025",TBA,TBA,TBA,TBA,TBA,TBA,Dolby Theatre,ABC

In [39]:
awards.drop(96, inplace=True)

In [40]:
awards

,#,Date,Best Picture,Most awarded film(s),Number of viewers P2+,HH Rating,Host(s),Producer(s),Venue,Broadcast partner(s)
0,1st,"May 16, 1929",Wings,7th Heaven Sunrise,—,—,Douglas Fairbanks,—,The Hollywood Roosevelt Hotel,none
1,2nd,"April 3, 1930",The Broadway Melody,The Bridge of San Luis Rey The Broadway Melody...,—,—,William C. deMille,—,Ambassador Hotel,KNX-AM[a][7]
2,3rd,"November 5, 1930",All Quiet on the Western Front,All Quiet on the Western Front The Big House,—,—,Conrad Nagel,—,Ambassador Hotel,KNX-AM[a]
3,4th,"November 10, 1931",Cimarron,Cimarron,—,—,Lawrence Grant,—,Biltmore Hotel,KHJ-AM[b]
4,5th,"November 18, 1932",Grand Hotel,Bad Girl The Champ,—,—,Lionel Barrymore Conrad Nagel,—,Ambassador Hotel,KECA-AM[c]
...,...,...,...,...,...,...,...,...,...,...
91,92nd,"February 9, 2020",Parasite,Parasite,23.64 million,13.59[9],none,Lynette Howell Taylor Stephanie Allain,Dolby Theatre,ABC
92,93rd,"April 25, 2021",Nomadland,Nomadland,10.40 million,5.9,none,Jesse Collins Stacey Sher Steven Soderbergh,Union Station,ABC
93,94th,"March 27, 2022",CODA,Dune,16.62 million,9.0,Regina Hall Amy Schumer Wanda Sykes,Will Packer Shayla Cowan,Dolby Theatre,ABC
94,95th,"March 12, 2023",Everything Everywhere All at Once,Everything Everywhere All at Once,18.70 million,9.9,Jimmy Kimmel,Ricky Kirshner Glenn Weiss,Dolby Theatre,ABC
95,96th,"March 10, 2024",Oppenheimer,Oppenheimer,19.50 million,9.9,Jimmy Kimmel,Raj Kapoor Katy Mullan,Dolby Theatre,ABC

In [41]:
df.loc[df['Actor'].isin(['Wallace Beery', 'Fredric March'])]

,Year,ActorID,Actor,Role(s),Film,Link,Born,Died,Birthplace,Deathplace,Children
4,1931/32,4,Wallace Beery,"Andy ""Champ"" Purcell",The Champ,/wiki/Wallace_Beery,1885-04-01,1949-04-15,"Clay County, Missouri, U.S.","Beverly Hills, California, U.S.",1
5,1931/32,5,Fredric March,Dr. Henry Jekyll / Mr. Edward Hyde,Dr. Jekyll and Mr. Hyde,/wiki/Fredric_March,1897-08-31,1975-04-14,"Racine, Wisconsin, U.S.","Los Angeles, California, U.S.",2
19,1946,5,Fredric March,Platoon Sergeant Al Stephenson,The Best Years of Our Lives,/wiki/Fredric_March,1897-08-31,1975-04-14,"Racine, Wisconsin, U.S.","Los Angeles, California, U.S.",2

In [42]:
award_dates = awards['Date'].to_list()

In [43]:
award_dates[4]

'November 18, 1932'

In [44]:
award_dates.insert(5, award_dates[4])

In [45]:
award_dates

['May 16, 1929',
 'April 3, 1930',
 'November 5, 1930',
 'November 10, 1931',
 'November 18, 1932',
 'November 18, 1932',
 'March 16, 1934',
 'February 27, 1935',
 'March 5, 1936',
 'March 4, 1937',
 'March 10, 1938',
 'February 23, 1939',
 'February 29, 1940',
 'February 27, 1941',
 'February 26, 1942',
 'March 4, 1943',
 'March 2, 1944',
 'March 15, 1945',
 'March 7, 1946',
 'March 13, 1947',
 'March 20, 1948',
 'March 24, 1949',
 'March 23, 1950',
 'March 29, 1951',
 'March 20, 1952',
 'March 19, 1953',
 'March 25, 1954',
 'March 30, 1955',
 'March 21, 1956',
 'March 27, 1957',
 'March 26, 1958',
 'April 6, 1959',
 'April 4, 1960',
 'April 17, 1961',
 'April 9, 1962',
 'April 8, 1963',
 'April 13, 1964',
 'April 5, 1965',
 'April 18, 1966',
 'April 10, 1967',
 'April 10, 1968',
 'April 14, 1969',
 'April 7, 1970',
 'April 15, 1971',
 'April 10, 1972',
 'March 27, 1973',
 'April 2, 1974',
 'April 8, 1975',
 'March 29, 1976',
 'March 28, 1977',
 'April 3, 1978',
 'April 9, 1979',
 'April 14, 1980',
 'March 31, 1981',
 'March 29, 1982',
 'April 11, 1983',
 'April 9, 1984',
 'March 25, 1985',
 'March 24, 1986',
 'March 30, 1987',
 'April 11, 1988',
 'March 29, 1989',
 'March 26, 1990',
 'March 25, 1991',
 'March 30, 1992',
 'March 29, 1993',
 'March 21, 1994',
 'March 27, 1995',
 'March 25, 1996',
 'March 24, 1997',
 'March 23, 1998',
 'March 21, 1999',
 'March 26, 2000',
 'March 25, 2001',
 'March 24, 2002',
 'March 23, 2003',
 'February 29, 2004',
 'February 27, 2005',
 'March 5, 2006',
 'February 25, 2007',
 'February 24, 2008',
 'February 22, 2009',
 'March 7, 2010',
 'February 27, 2011',
 'February 26, 2012',
 'February 24, 2013',
 'March 2, 2014',
 'February 22, 2015',
 'February 28, 2016',
 'February 26, 2017',
 'March 4, 2018',
 'February 24, 2019',
 'February 9, 2020',
 'April 25, 2021',
 'March 27, 2022',
 'March 12, 2023',
 'March 10, 2024']

In [46]:
df['Year'] = award_dates
df.head()

,Year,ActorID,Actor,Role(s),Film,Link,Born,Died,Birthplace,Deathplace,Children
0,"May 16, 1929",0,Emil Jannings,"Grand Duke Sergius Alexander, August Schilling","The Last Command, The Way of All Flesh",/wiki/Emil_Jannings,1884-07-23,1950-01-02,"Rorschach, Switzerland","Strobl, Allied-occupied Austria",1
1,"April 3, 1930",1,Warner Baxter,The Cisco Kid,In Old Arizona,/wiki/Warner_Baxter,1889-03-29,1951-05-07,"Columbus, Ohio, U.S.","Beverly Hills, California, U.S.",0
2,"November 5, 1930",2,George Arliss,Benjamin Disraeli,Disraeli,/wiki/George_Arliss,1868-04-10,1946-02-05,"London, England","London, England",0
3,"November 10, 1931",3,Lionel Barrymore,Stephen Ashe,A Free Soul,/wiki/Lionel_Barrymore,1878-04-28,1954-11-15,"Philadelphia, Pennsylvania, U.S.","Los Angeles, California, U.S.",2
4,"November 18, 1932",4,Wallace Beery,"Andy ""Champ"" Purcell",The Champ,/wiki/Wallace_Beery,1885-04-01,1949-04-15,"Clay County, Missouri, U.S.","Beverly Hills, California, U.S.",1

In [47]:
df.loc[df['Actor'].isin(['Wallace Beery', 'Fredric March'])]

,Year,ActorID,Actor,Role(s),Film,Link,Born,Died,Birthplace,Deathplace,Children
4,"November 18, 1932",4,Wallace Beery,"Andy ""Champ"" Purcell",The Champ,/wiki/Wallace_Beery,1885-04-01,1949-04-15,"Clay County, Missouri, U.S.","Beverly Hills, California, U.S.",1
5,"November 18, 1932",5,Fredric March,Dr. Henry Jekyll / Mr. Edward Hyde,Dr. Jekyll and Mr. Hyde,/wiki/Fredric_March,1897-08-31,1975-04-14,"Racine, Wisconsin, U.S.","Los Angeles, California, U.S.",2
19,"March 13, 1947",5,Fredric March,Platoon Sergeant Al Stephenson,The Best Years of Our Lives,/wiki/Fredric_March,1897-08-31,1975-04-14,"Racine, Wisconsin, U.S.","Los Angeles, California, U.S.",2

In [48]:
df.rename(columns={'Year': 'Date'}, inplace=True)
df.head(1)

,Date,ActorID,Actor,Role(s),Film,Link,Born,Died,Birthplace,Deathplace,Children
0,"May 16, 1929",0,Emil Jannings,"Grand Duke Sergius Alexander, August Schilling","The Last Command, The Way of All Flesh",/wiki/Emil_Jannings,1884-07-23,1950-01-02,"Rorschach, Switzerland","Strobl, Allied-occupied Austria",1

In [49]:
df['Date'] = pd.to_datetime(df['Date'])

In [50]:
df.to_csv('data/awards.csv')

---